@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


section {
  @apply mb-28;
}

.header {
  @apply flex flex-col py-4 mb-4 justify-between;
}

.hero {
  @apply container px-5 flex flex-col mx-auto;
}
